*{
    padding: 0;

}
.articulo-cuerpo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo-articulo
{
    background-color: rgb(223, 246, 255);
}

.top{
    width: 50%;
    padding-left: 10px;
}

.bot{
    width: 50%;
    padding-right: 10px;
}

.page-content{
    display: flex;
    flex-direction: column;
}

.primero{
    font-size: 25px;
    border: 0;
}

.segundo{
    font-size: 25px;
    border: 0;
}