*{
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.articulo-cuerpo
{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.titulo-articulo
{
    background-color: rgb(223, 246, 255);
}

.top{
    width: 50%;
}

.bot{
    width: 50%;
    padding-right: 10px;
}

.page-content{
    display: flex;
    flex-direction: column;
}

.primero{
    font-size: 25px;
    border: 0;
}

.primero h3{
    padding-left: 3em;
}

.segundo{
    font-size: 25px;
    border: 0;
}

.segundo h3{
    padding-left: 3em;
}


.top-banner{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

hr{
    margin: 0;
}

.imagen-articulo{
    padding-right: 30px;
}


.top-menu {
    width: 100%;
    max-width: 2000px;
    margin: auto;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.top-banner{
    display: flex;
    flex-direction: row;
}
.top-banner img{
    width: 200px;
}
.top-banner h1{
    margin: 0;
    padding: 0;
}

header nav{
    background:  rgb(223, 246, 255)  ;
    margin-bottom: 10px;
}

header nav ul{
    list-style: none;
    overflow: hidden;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    display: block;
    padding: 20px;
    color: rgb(31, 16, 3);
    text-decoration: none;
}

header nav ul li a:hover{
    background:rgb(62, 49, 235);
    color: cornsilk;
}

.botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgb(171, 234, 250);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 15px rgba(63, 194, 255, 0.6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.atras{
    left: 2%;
    top: 50%;
}

.adelante{
    right: 2%;
    top: 50%;
}

.reg-area{
    display: flex;
    flex-direction: row;
}
.reg-area *{
    padding: 10px;
    margin: 5px;
    font-size: 25px;
}

.label-area *{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.input-area{
    display: flex;
    flex-direction: column;
}

.send-area {
    display: flex;
    justify-content: center;
    width: 40%;
}
.send-area input{
    padding: 30px;
    width: 10em;
    
}